html
    body
        form(action='/users/join', method='POST')
            .container
                h1 Register
                |       
                p Please fill in this form to create an account.
                |       
                hr
                |   
                |       
                label(for='email')
                    b Email
                |       
                input#email(type='text', placeholder='Enter Email', name='email')
                |   
                |       
                label(for='password')
                    b Password
                |       
                input#password(type='password', placeholder='Enter Password', name='password')
                |   
                |       
                label(for='Given_name')
                    b Given_name
                |       
                input#Given_name(type='text', placeholder='Repeat Given_name', name='Given_name')
                |       
                label(for='Last_name')
                    b Last_name
                |       
                input#Last_name(type='text', placeholder='Repeat Last_name', name='Last_name')
                |       
                hr
                |   
                |       
                p
                    | By creating an account you agree to our 
                    a(href='#') Terms & Privacy
                    | .
                |       
                button.registerbtn(type='submit') Register
            |   
            |     
            .container.signin
                p
                    | Already have an account? 
                    a(href='#') Sign in
                    | .
